body {
	background-image: url("../img/bg.png");
	background-attachment: fixed;
	font-family: 'Open Sans', sans-serif;
}
.name a {
	text-decoration:none;
}
.main {
	width:900px;
	background: white;
	padding:10px;
	margin:auto;
	/*Boder*/
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border: 7px solid #cfcfcf;
	/*Shadow*/
	-webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
}
.infordetail {
	float:none;
	width:900px;
	height:600px;
}
.infor {
	background: #BBDEFB;
	float:left;
	width: 300px;
	height: inherit;
	/*Boder*/
	border: 1px solid;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
	border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 3px 3px 3px 3px;
	-webkit-border-radius: 3px 3px 3px 3px;
}
.clear {
	clear:both;
}
.avt {
	width: 290px;
	margin:5px;
}
.name {
	top: 10px;
    left: 5px;
    font-size: 175%;
    font-weight: bold;
    display: block;
	position: relative;
}
.avatar {
	float:left;
}
.avatar_img {
	width:100px;
	height:100px;
	/*Boder*/
	border: 3px solid white;
	border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 3px 3px 3px 3px;
	-webkit-border-radius: 3px 3px 3px 3px;
}
.about {
	margin-left:5px;
}
.about p {
	font-size:100%;
	text-align: justify;
	text-indent: 20px;
	padding: 10px;
}
.contact {
	margin-left: 10px;
}
.contact ul {
	list-style-type: none;
    font-size: 0.9em;
    margin-top: 2px;
	background: transparent;
}
.contact li {
	float: none;
	margin-bottom: 3px;
    color: #444;
}
.contact li i {
	padding-right:5px;
}
.contact ul li a {
	text-decoration:none;
}
.detail {
	float:left;
	width:555px;
	height: inherit;
	margin-left: 10px;
	/*Boder*/
    border: 1px solid;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
/*Skill*/
#skill .container {
	width:450px;
}
#programminglanguage .container{
	width:450px;
}
#eduacation {
	text-align: center;
}
/*Menu*/
.menu {
	background: #ffae00;
	width:555px;
	height:50px;
	/*Boder*/
	border-radius: 5px 5px 0px 0px;
	-moz-border-radius: 5px 5px 0px 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
}
.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
	/*Boder*/
	border-radius: 2px 2px 0px 0px;
	-moz-border-radius: 2px 2px 0px 0px;
	-webkit-border-radius: 2px 2px 0px 0px;
}
.menu ul li {
    float: left;
}
.menu ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu ul li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}
/*-----------------------*/
.hd {
	background:#e9eaed;
	width:100%;
	height:550px;
	overflow:scroll;
	/*Boder*/
	border-radius: 0px 0px 2px 2px;
	-moz-border-radius: 0px 0px 2px 2px;
	-webkit-border-radius: 0px 0px 2px 2px;
}
.hd::-webkit-scrollbar { 
  /* This is the magic bit */
  display: none;
}
/*tab*/
.tab {
	background:white;
	padding:10px;
	margin: 10px;
    margin-left: auto;
    margin-right: auto;
	width:500px;
	/*Border*/
	border: 1px solid;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
    border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
/*Footer*/
.footer {
	width: 900px;
	height: 35px;
}
.footer-center {
	padding: 10px;
	margin: auto;
	width: 700px;
	display:block;
	overflow:auto;
	display: block;
}
.footer-border {
	border-bottom:1px solid #c7c7c7;
	display:block;
	float:left;
	width:200px;
	margin-top:9px;
}
.copyright {
	display:block;
	float:left;
	width:270px;
	text-align:center;
}
p {
	font-size: 55%;
    margin-top: 2px;
}